.app {
  box-sizing: border-box;
  text-align: center;
  color: #121217;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Sue Ellen Francisco", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Sacramento", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
}

a {
  font-family: 'Sacramento', sans-serif;
  font-size: 15pt;
  line-height: 75px;
  text-decoration: none;
  color: #121217;
}

a:hover {
  color: #ac683c;
  font-size: 18pt;
}

input, select {
  border-radius: 5px;
  margin: 5px auto;
}

/* =============================== Login & Signup Pages =============================== */

header.login h1 {
  font-size: 60pt;
  margin: 0 0 0 25vw;
  text-align: left;
}

header.login h2 {
  font-size: 25pt;
  margin: -35px 20vw 30px 48vw;
  text-align: right;
}

#login h2.login, #signup h2.signup {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15pt;
  text-align: center;
}

main.login {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 10vh;
}

main.signup {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
}

main img.login {
    height: 250px;
    transform: rotate(-15deg);
    margin-top: 20vh;
}

input, select {
  background-color: #F0E9E5;
  border: solid 3px #121217;
  margin-top: 20px;
  width: 20vw;
  height: 5vh;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

input:focus, select:focus {
  outline: none;
  background-color: #ffffff;
  color: #121217;
  box-shadow: 5px 5px #EBB8B1;
}

main.login label {
  display: none;
}

main.signup label {
  font-family: 'Raleway', sans-serif;
  margin-right: 20px;
}

input.form-submit {
  height: 4vh;
  width: 7vw;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
}

input.form-submit:hover, input.form-submit:focus {
  cursor: pointer;
  box-shadow: none;
  background-color: #EBB8B1;
}

main.login p {
  font-family: 'Sacramento', sans-serif;
  font-size: 15pt;
} 

a.instagram-feed {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  margin: 20px auto 0 auto;
  justify-content: center;
}

a.instagram-feed img{
  height: 125px;
  width: 125px;
  object-fit: cover;
  margin: 5px;
  justify-items: center;
}

div.social-links {
  margin-top: 20px;
}

div.social-links button {
  margin: 5px;
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

div.social-links button:hover {
  height: 35px;
  width: 35px;
}

div.social-links button#twitter{
  background-image: url(./images/twitter.png);
  background-size: cover;
}

div.social-links button#instagram{
  background-image: url(./images/instagram.png);
  background-size: cover;
}

div.social-links button#pinterest{
  background-image: url(./images/pinterest.png);
  background-size: cover;
}
/* =============================== Header =============================== */
header.header {
  display: flex;
  align-content: center;
  margin: 20px 20px 5vh 20px;
}

header img#bread {
  height: 75px;
  margin-left: auto;
  margin-top: auto;
  justify-self: flex-end;
  align-self: flex-end;
}

img#bread:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

header img#sneezy {
  height: 80px;
  transform: rotate(-15deg);
}

img#sneezy:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

header h1 {
  font-size: 32pt;
  margin: 0 0 0 20px;
  text-align: left;
}

header h2 {
  font-size: 15pt;
  margin: -24px 0 0 170px;
}

header input {
  height: 25px;
  margin-top: 45px;
  margin-left: 20vw;
}

header input:focus {
  box-shadow: none;
  border: 3px solid #EBB8B1;
}

header button {
  width: 25px;
  height: 25px;
  background-image: url(./images/search.png);
  background-size: cover;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}

/* =============================== Home Page =============================== */
div.home-wrapper {
  display: flex;
  margin: 0 20px;
  align-content: center;
}

div.welcome {
  background-color: #F0E9E5;
  height: 450px;
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 60px 0 0 60px;
  padding: 10px;
}

div.welcome h3 {
  font-family: 'Sacramento', sans-serif;
  font-weight: 400;
  font-size: 25pt;
  margin: auto;
}

div.welcome img {
  height: 70px;
  width: 70px;
  margin: 15px auto 0;
}

div.welcome img:hover {
  transform: rotate(5deg);
  cursor: pointer;
  
}

div.recipe-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 20px 100px;
  justify-content: flex-end;
}

/* =============================== Create Recipe Form =============================== */

ul.recipe-form {
  list-style-type: none;
  padding: 0;
}

form.recipe-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 50px 20px 20px 20px;
}

div#recipe-column-one {
  display: flex;
  flex-flow: column;
  border-right: 3px dotted #EBB8B1;
  padding: 20px;
}

div#recipe-column-two {
  border-right: 3px dotted #EBB8B1;
  padding: 20px;
}

div#recipe-column-three {
  padding: 20px;
}

h2.recipe-form {
  font-size: 30pt;
  weight: 400;
  font-family: 'Sue Ellen Francisco', sans-serif;
  letter-spacing: 2px;
}

form.recipe-form p, form.recipe-form label {
  margin: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
}

form.recipe-form input {
  margin: 10px;
  height: 20px;
}

form.recipe-form input.form-submit {
  height: 25px;
  width: 100px;
}

button.recipe-form {
  background-image: url(./images/add.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

button.recipe-form:hover {
  background-image: url(./images/add-active.png);
}

/* =============================== Recipe Cards =============================== */
div.recipe-card {
  height: 300px;
  width: 200px;
  margin: 20px;
  border: 3px solid #121217;
  border-radius: 5px;
  background-color: #F0E9E5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.recipe-card:hover {
  box-shadow: 5px 5px #EBB8B1;
  cursor: pointer;
}

div.recipe-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: auto;
}

div.recipe-card h4 {
  font-family: 'Sue Ellen Francisco', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 15pt;
  margin: auto;
}

div.recipe-card p {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
}

/* =============================== Recipe Modals =============================== */

img.modal {
  max-width: 70%;
}

div.modal-wrapper {
  display: flex;
  flex-flow: row;
  margin-top: 15px;
  margin-left: 15px;
}

div.column-one, div.column-two {
  width: 45%;
  display: flex;
  flex-flow: column;
}

div.column-two {
  border-left: 3px dotted #EBB8B1;
  padding-left: 10px;
}

div.button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

button.modal {
  justify-self: center;
  width: 25px;
  height: 25px;
  border: none;
  background-color: #ffffff;
  margin: 15px;
  cursor: pointer;
}

button.modal#delete {
  background-image: url(./images/delete.png);
  background-size: cover;
}

button.modal#edit {
  background-image: url(./images/edit.png);
  background-size: cover;
}

button.modal#exit {
  background-image: url(./images/exit.png);
  background-size: cover;
}

button.modal#exit:hover {
  background-image: url(./images/exit-active.png);
}

button.modal:hover {
  width: 30px;
  height: 30px;
  background-size: cover;
}

h4.modal {
  font-family: 'Sue Ellen Francisco', 'sans-serif';
  font-weight: 400;
  font-size: 25pt;
  margin-top: 0;
}

p.modal{
  font-family: 'Sacramento', 'sans-serif';
  font-size: 18pt;
  margin: 10px;
}

/* =============================== Recipe Books Page =============================== */

div.recipe-books {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  margin-top: 50px;
}

h2.recipe-books {
  font-family: 'Sue Ellen Francisco', sans-serif;
  font-size: 34pt;
  font-weight: 400;
}

div.recipe-books img {
  width: 150px;
  margin-bottom: 0;
}

div.recipe-books img:hover {
  transform: rotate(-10deg);
}

div.recipe-books h3 {
  font-weight: 400;
  margin-top: 0;
}

div.recipe-books h3:hover, div.recipe-books a:hover {
  color: #EBB8B1;
  font-weight: 700;
}

/* =============================== Recipe Collection Pages =============================== */

div.recipe-book-collection {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
}