.app {
  box-sizing: border-box;
  text-align: center;
  color: #121217;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Sue Ellen Francisco", sans-serif;
  font-weight: 400;
}

h2 {
  font-family: "Sacramento", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
}

input, select {
  border-radius: 5px;
  margin: 5px auto;
}

/* =============================== Login & Signup Pages =============================== */

header.login h1 {
  font-size: 60pt;
  margin: 0 0 0 25vw;
  text-align: left;
}

header.login h2 {
  font-size: 25pt;
  margin: -35px 20vw 30px 48vw;
  text-align: right;
}

#login h2.login, #signup h2.signup {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 15pt;
  text-align: center;
}

main.login {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 10vh;
}

main.signup {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
}

main img.login {
    height: 300px;
    transform: rotate(-15deg);
}

input, select {
  background-color: #F0E9E5;
  border: solid 3px #121217;
  margin-top: 20px;
  width: 20vw;
  height: 5vh;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

input:focus, select:focus {
  outline: none;
  background-color: #ffffff;
  color: #121217;
  box-shadow: 5px 5px #EBB8B1;
}

main.login label {
  display: none;
}

main.signup label {
  font-family: 'Raleway', sans-serif;
  margin-right: 20px;
}

input.form-submit {
  height: 4vh;
  width: 7vw;
  margin-top: 30px;
}

input.form-submit:hover, input.form-submit:focus {
  cursor: pointer;
  box-shadow: none;
  background-color: #EBB8B1;
}

main.login p {
  font-family: 'Sacramento', sans-serif;
  font-size: 15pt;
} 

/* =============================== Header =============================== */
header.header {
  display: flex;
  align-content: center;
  margin: 20px 20px 5vh 20px;
}

header img#bread {
  height: 75px;
  margin-left: auto;
  margin-top: auto;
  justify-self: flex-end;
  align-self: flex-end;
}

img#bread:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

header img#sneezy {
  height: 80px;
  transform: rotate(-15deg);
}

img#sneezy:hover {
  transform: rotate(5deg);
  cursor: pointer;
}

header h1 {
  font-size: 32pt;
  margin: 0 0 0 20px;
  text-align: left;
}

header h2 {
  font-size: 15pt;
  margin: -24px 0 0 170px;
}

/* =============================== Home Page =============================== */
div.home-wrapper {
  display: flex;
  margin: 0 20px;
  align-content: center;
}

div.welcome {
  background-color: #F0E9E5;
  height: 450px;
  width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 60px 0 0 60px;
  padding: 10px;
}

div.welcome h3 {
  font-family: 'Sacramento', sans-serif;
  font-weight: 400;
  font-size: 25pt;
  margin: auto;
}

div.welcome img {
  height: 70px;
  width: 70px;
  margin: 15px auto 0;
}

div.welcome img:hover {
  transform: rotate(5deg);
  cursor: pointer;
  
}

div.recipe-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 20px 100px;
  justify-content: flex-end;
}

/* =============================== Create Recipe Form =============================== */

ul.recipe-form {
  list-style-type: none;
  padding: 0;
}

form.recipe-form {
  display: flex;
  flex-flow: column;
  justify-items: space-evenly;
  align-items: center;
}

form.recipe-form p, form.recipe-form label {
  margin: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
}

form.recipe-form input {
  margin: 3px;
  height: 20px;
}

form.recipe-form input.form-submit {
  height: 25px;
  width: 100px;
}


/* =============================== Recipe Cards =============================== */
div.recipe-card {
  height: 300px;
  width: 200px;
  margin: 20px;
  border: 3px solid #121217;
  border-radius: 5px;
  background-color: #F0E9E5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.recipe-card:hover {
  box-shadow: 5px 5px #EBB8B1;
  cursor: pointer;
}

div.recipe-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: auto;
}

div.recipe-card h4 {
  font-family: 'Sue Ellen Francisco', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 15pt;
  margin: auto;
}

div.recipe-card p {
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
}

/* =============================== Recipe Modals =============================== */

img.modal {
  max-width: 70%;
}

div.modal-wrapper {
  display: flex;
  flex-flow: row;
  margin-top: 15px;
  margin-left: 15px;
}

div.column-one, div.column-two {
  width: 45%;
  display: flex;
  flex-flow: column;
}

div.button-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

button.modal {
  justify-self: center;
  width: 50px;
  margin: 15px;
}

h4.modal {
  font-family: 'Sue Ellen Francisco', 'sans-serif';
  font-weight: 400;
  font-size: 25pt;
  margin-top: 0;
}

p.modal{
  font-family: 'Sacramento', 'sans-serif';
  font-size: 18pt;
  margin: 10px;
}